<!DOCTYPE html>
<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

    <!-- Page title -->
    <title>Books</title>
  
    <!-- Applying fonts -->
    <!-- Fonts taken from the following website: https://www.cdnfonts.com/segoe-ui-4.font -->
    <link href="http://fonts.cdnfonts.com/css/segoe-ui-4" rel="stylesheet">

    <!-- HTML CSS -->
    <link href="css/site.css" rel="stylesheet" type="text/css">

    <!-- Vue.js script-->
    <script src="https://unpkg.com/vue@next"></script>
  </head>
  <body>

    <!-- Navigation menu -->
    <!-- Navigation style -->
    <nav class="navbar navbar-expand-lg navbar-dark" id="userNav">
      <div class="container-fluid">

        <!-- Navbar content -->
        <a class="navbar-brand" id="page_logo" href="index.html">Books</a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="index.html">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="books.html">Books</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="interests.html">Interests</a>
            </li>
          </ul>
        </div>

      </div>
    </nav>


    <!-- Main code -->
    <main>
      <div class="container" id="booksApp">
        <h1 class="page_title">Books</h1>

        <div class="row">  
          <!-- Book data was assembled using the following website: https://www.mockaroo.com/ -->
          <table class="table table-striped" id="bookTable">
            <thead>
              <tr>
                <th scope="col">Title</th>
                <th scope="col">Auhtor(s)</th>
                <th scope="col">Year Published</th>
                <th scope="col">Publisher</th>
                <th scope="col">Page Count</th>
                <th scope="col">MSRP</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody >
              <tr v-for="book in books">
                <td> {{book.title}} </td>
                <td> {{book.author}} </td>
                <td> {{book.year_published}}</td>
                <td>{{book.publisher}}</td>
                <td>{{book.page_count}}</td>
                <td>{{prettyDollar(book.msrp) }}</td>
                <td>
                  <button type="button" v-on:click="handleEditBook(book)" class="btn btn-outline-secondary btn-sm table_button">Edit</button>
                  <button type="button" v-on:click="postDeleteBook(book)" class="btn btn-outline-secondary btn-sm table_button">Delete</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <!-- Add a book form -->
        <div class="row d-flex justify-content-center">

          <h3 class="text-center">Add a Book to the Table</h3>

          <div class="col-6">
            <form v-on:submit.prevent="postBook" class="book-form needs-validation" id="">
              <!-- Entering book's title -->
              <div class="mb-3">
                <label for="title">Book Title</label>
                <input type="text" v-model="bookForm.title" class="form-control" id="title" placeholder="Enter the book's title" required="required">
              </div>

              <!-- Entering author's name -->
              <div class="row">
                <div class="mb-3">
                  <label for="author">First name</label>
                  <input type="text" v-model="bookForm.author" class="form-control" id="author" placeholder="Enter author full name (First Last)" required="required">
                </div>
              </div>

              <!-- Entering publisher -->
              <div class="mb-3">
                <label for="publisher">Publisher</label>
                <input type="text" v-model="bookForm.publisher" class="form-control" id="publisher" placeholder="Enter the publisher's name" required="required">
              </div>

              <!-- Entering year published, page count & MSRP -->
              <div class="row">
                <div class="col-md-4 mb-3">
                  <label for="year_published">Year</label>
                  <input type="number" v-model="bookForm.year_published" class="form-control" id="year_published" placeholder="Year published" required="required"> 
                </div>
                <div class="col-md-4 mb-3">
                  <label for="page_count">Page Count</label>
                  <input type="number" v-model="bookForm.page_count" class="form-control" id="page_count" placeholder="Number of pages" required="required">
                </div>
                <div class="col-md-4 mb-3">
                  <label for="msrp">MSRP</label>
                  <input type="text" v-model="bookForm.msrp" class="form-control" id="msrp" placeholder="Book price" required="required">
                </div>
              </div>

              <div class="text-center">
                <button type="submit" class="btn btn-primary table_button" >{{ selectedBook === null ? "Add " : "Edit"}} Book</button>
                <button type="button" class="btn btn-outline-secondary table_button" v-if="selectedBook" v-on:click="handleResetEdit">Cancel Edit</button>
              </div>
            </form>
          </div>
        </div>

      </div>
    </main>
    
    <!-- JavaScript -->
    <!-- Table sort JS made possible with the following resource: http://tristen.ca/tablesort/demo/ -->
    <script src="js/tablesort.min.js"></script>
    <script>
      new Tablesort(document.getElementById("bookTable"));
    </script>

    <!-- Bundle Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
    
    <script src="js/books.js"></script>
  </body>
</html>